<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: azure;
        }
    </style>
</head>

<body>
    <h1>welcome to about</h1>
    <a href="/">Home</a>
    <a href="/about">Home</a>
    <a href="/contact">Home</a>

</body>

</html>